{% extends "cms/base.html" %}
{% load cms_tags %}
{% load static %}

{% block head_block %}
<title>{{profile.org_name}} Client Portal</title>
<meta name='description' content='A client-only portal that streamlines property management communication'>
{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static "accounts/css/accounts.css" %}">
{% endblock %}

{% block body_block %}
<div class='account_home_wrapper'>
	<div class='runner myContainer'>
		<div class='transition_bar'>
			<div class='transition_box'></div>
			<h1>{{profile.org_name}}</h1>
			{% if not profile %}
			<h5>Please <a href='{% url 'profiles_profile_detail' user.username %}'>click here</a> to view your account</h5>
			{% else %}
			<ul id='account-tabs' class="nav nav-pills nav-justified" role='tablist'>
				<li role="presentation" class='active'>
					<a href="#tab1" data-toggle='tab' aria-controls='tab1' aria-expanded='true'>Home</a>
				</li>
				<li role="presentation">
					<a href="#tab2" data-toggle='tab' aria-controls='tab2' aria-expanded='false'>Properties</a>
				</li>
				<li role="presentation">
					<a href="#tab3" data-toggle='tab' aria-controls='tab3' aria-expanded='false'>Proposals</a>
				</li>
				<li role="presentation">
					<a href="#tab4" data-toggle='tab' aria-controls='tab4' aria-expanded='false'>Contracts</a>
				</li>
			</ul>
			{% endif %}
		</div>
	</div>
	<div class='account_home_contents myContainer'>
		{% if not profile %}
		{% else %}
		<div id='account-tab-content' class='tab-content'>
			<div role='tabpanel' class='tab-pane fade in active' id='tab1' aria-labelledby='tab1-tab'>
				<h3 style='text-align:center;'>{{profile.org_name}} Home</h3>
				{% include 'accounts/organization_profile.html' %}
				{% comment %}
				<a class='btn blue_btn' href='{% url 'profiles_edit_profile' %}'>Edit Your Profile</a>
				{% endcomment %}
			</div>
			<div role='tabpanel' class='tab-pane fade' id='tab2' aria-labelledby='tab2-tab'>
				<h3 style='text-align:center;'>{{profile.org_name}} Properties</h3>
				{% include 'accounts/properties_home.html' %}
			</div>
			<div role='tabpanel' class='tab-pane fade' id='tab3' aria-labelledby='tab3-tab'>
				<h3 style='text-align:center;'>{{profile.org_name}} Proposals</h3>
				{% include 'accounts/proposals_home.html' %}
			</div>
			<div role='tabpanel' class='tab-pane fade' id='tab4' aria-labelledby='tab4-tab'>
				<h3 style='text-align:center;'>{{profile.org_name}} Contracts</h3>
				{% include 'accounts/contracts_home.html' %}
			</div>
		</div>
		{% endif %}
		<div class='account_nav'>
			<a class='btn green' href='{% url "auth_logout" %}?next=/'>Log Out</a>
		</div>
	</div>
</div>

{% endblock %}