{% load cms_tags %}
{% load static %}

<ul class='horizontal_ul'>
	{% comment %}
	<li id='call'><a class='btn btn-danger btn-sm' href='tel:{{ company_phone_link }}'>Call</a></li>
	<li id='phone' class='theme-text'>{{ company_phone_text }}</li>
	<!-- <li><a href="{{ twitter_link }}" style='color:#3cf!important'><i class="fa fa-twitter"></i></a></li> -->
	<li><a href="{{ facebook_link }}" style='color:#3B5998!important'><i class="fa fa-facebook"></i></a></li>
	<li><a href="{{ google_plus_link }}" style='color:#d34836!important'><i class="fa fa-google-plus"></i></a></li>
	{% endcomment %}
	<li><a href='.' class='social_links facebook'><img src='{% static "images/fb-icon.png" %}'></a></li>
	<li><a href='.' class='social_links linkedin'><img src='{% static "images/li-icon.png" %}'></a></li>
	<li><a href='.' class='social_links youtube last'><img src='{% static "images/yt-icon.png" %}'></a></li>
</ul>