.dropdown-menu {
	min-width: 0;
}

li a p {
	margin: 0 0;
}

.left_sidebar .form-control {
    width: 80%;
    margin: 0 auto;
}

form {
	width:80%;
    max-width:600px;
	margin:0 auto;
}

#page-tabs {
	margin-top: 20px;
}

.custom-navbar.theme-text ul li a:link, .custom-navbar.theme-text ul li a:visited {
	color: #337ab7 !important;
	font-family:'Libre Baskerville', Georgia, serif;
	text-decoration: none;
}

.custom-navbar.theme-text ul li a:hover, .custom-navbar.theme-text ul li a:active {
	color: #555!important;
	background: #f5f5f5;
	text-decoration: none;
}

.theme-text ul:not(.nav-pills) li a:link, .theme-text ul:not(.nav-pills) li a:visited {
	color: #115895!important;  																				/* a darker shade of the theme color*/
	font-family:'Libre Baskerville', Georgia, serif;
	text-decoration: none;
}

.theme-text ul:not(.nav-pills) li a:hover, .theme-text ul:not(.nav-pills) li a:active {
	color: #555!important;
	background: #f5f5f5;
	text-decoration: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	background-color: #337ab7 ;
}

.homepage_image a:not(.btn) {
	color: #337ab7;
	font-family:'Libre Baskerville', Georgia, serif;
	text-decoration: none;
}

a.btn-default {
	color: #555!important;
}

.navbar-toggle {
	padding: 5px 10px;
	background-color: #eeeeee;
	color: #777777;
	font-size:.8em;
	font-family:'Libre Baskerville', Georgia, serif;
	margin-right: 0;
	margin-top: 10px;
}

.theme-bg {
	background-color: #337ab7 !important;
}

.homepage_content.theme-bg {
	background-color: #418ABA !important;
}

.theme-text {
	/*color: #337ab7 !important;*/
	font-family:'Libre Baskerville', Georgia, serif;
}

.left_sidebar.theme-text h4 {
	color: #333;
}

.left_sidebar.theme-text {
	color: #333;
}

.sidebar_menu {
	margin: 10px 0 5px;
	text-align:left;'
}

.theme-text a:not(.btn) {
	font-family:'Libre Baskerville', Georgia, serif;
	color: #337ab7 ;
}

.tab-pane {
	padding: 20px 0px 0;
}

.theme-text .btn {
	font-family:'Libre Baskerville', Georgia, serif;
}

.theme-text ul li a {
	color: #337ab7 ;
	font-family:'Libre Baskerville', Georgia, serif;
}

ul {
	list-style-type: none;
	-webkit-padding-start: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

.row {
	margin: 0;
}

.checkbox {
	text-align: left;
}

.page_content {
	margin: 0;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default {
	border-radius: 0;
}

.container-fluid {
	position: relative;
	min-height: 100%;
}

.custom-navbar .custom-logo img {
	margin: 5px 0 0 20px;
	width: 240px;
	max-height: 70px;
}

.custom-navbar .nav.navbar-nav {
	margin-right:10px;
	margin-bottom:-1px;
}

#signup_login {
	float: left;
	margin: 0;
}

#signup_login a {
	float: left;
	padding: 8px 15px;
	font-size:1em;
}

.custom-navbar .btn {
	display: block;
	margin: 30px 0 0 15px;
}

@media (max-width:767px) {
	
	#signup_login, #signup_login a {
		float: none;
	}

	.custom-navbar .btn {
		margin: 10px 0;
		width: 75px;
	}

	.custom-navbar #signup_login .btn:first-child {
		float:left;
		margin-left: 10px;
		margin-right:20px;
	}
	.custom-navbar #signup_login .btn:nth-child(2) {
		display:inline-block;
	}

	#signup_login a {
		padding: 8px 10px;
		font-size:.8em;
	}
}

@media (max-width: 1100px){
	#signup_login a {
		font-size: .8em;
	}
}

@media (max-width: 900px){
	.custom-navbar .custom-logo img {
		width: 240px;
		margin: 15px 0 0 5px;
	}	
}

@media (max-width: 767px){
	.custom-navbar .custom-logo img {
		width: 240px;
		margin: 10px auto 10px;
	}
	#signup_login a {
		font-size: .6em;
	}	
}

@media (max-width: 480px){
	.custom-navbar .custom-logo img {
		width: 240px;
		margin-top: 15px;
	}
}

@media (max-width: 368px){
	.custom-navbar .custom-logo img {
		width: 160px;
		margin-top: 15px;
	}
}

.nav ul li ul {
	display: none;
	position: absolute;
	background-color: #ffffff;
	width: 100%;
	text-align: center;
}

ul li ul li {
	padding: 0px 0;
}

.navbar-default.dropdown-menu {
	padding: 0;
	border: 0;
	width:100%;
	box-shadow: 0 5px 6px #888;
}

.carousel_container img, .image_container img {
	max-height: 600px;
	min-height: 120px;
	width: 100%;
}

ul li:hover ul{
	display: block;
}

.custom-navbar.theme-text ul li a {
	padding: 40px 20px 20px;
	font-size: 1.1em;
}

.custom-navbar .theme-text li ul li a {
	padding: 10px 0;
	text-align: center;
	font-size: .8em;
}

@media (max-width: 991px) {
	.navbar-default .custom-navbar ul li a {
		font-size:1em;
	}

	.navbar-default .custom-navbar li ul li a {
		font-size: .8em;
	}
}

@media (max-width: 767px) {
	.navbar-default .custom-navbar ul li a {
		padding: 10px 0 10px 20px;
		font-size:.8em;
	}

	.navbar-default .custom-navbar li ul li a {
		padding: 10px 0 8px;
		font-size: .6em;
	}

	.navbar-default .dropdown-menu {
		display: none;
		position: initial;
		z-index: 1000;
	}

}

.call-to-action-banner div {
	padding-top: 10px;
	padding-bottom: 10px;
}

.carousel_container, .image_container{
	background: url("../images/hero-temp.jpg") center center no-repeat;
	background-size: cover;
	height: 500px;
	width: 100%;
	float: left;
}

.carousel_sidebar {
	height: 100%;
	width: 20%;
	float: left;
	background-color: #297acc;
	position: absolute;    
	right: 0;
	bottom: 0;
	overflow: auto;
}

.homepage_image .filer_image {
	position: relative;
	padding: 0;
	margin: 0;
}

ul li img.filer_image {
	margin-bottom: 8px;
}

.homepage_image .homepage_image_text {
	position: absolute;
	bottom: 50px;
	text-align: center;
	background-color: #eeeef3;
	opacity: .9;
	padding: 20px 20px 5px;
	border-radius: 10px;
	width: 420px;
	margin: 0 30%;
}

@media (max-width: 368px) {
	.homepage_image .homepage_image_text {
		padding: 10px 10px 5px;
	}
}

.call-to-action-banner {
	font-family:'Libre Baskerville', Georgia, serif;
	color: #eeeeee;
	text-align: center;
	font-size: 1.2em;
}

.modal label {
	color: #333;
}

.modal div {
	padding: 0 10px;
}

.call-to-action-banner .btn {
	font-family:'Libre Baskerville', Georgia, serif;
	font-size: 1em;
	padding: 3px 6px 5px;
}

.homepage_image_text h3 {
	font-family:'Libre Baskerville', Georgia, serif;
	font-size: 1.6em;
	line-height: 2.1em;
	margin: 0 auto;
	text-align: center;
}

.homepage_image_text a.btn {
	font-family:'Libre Baskerville', Georgia, serif;
	font-size: 1.2em;
	line-height: 1.5em;
	width:80%;
	white-space:normal;
	margin: 0 auto 20px;
	padding: 10px;
	z-index: 1000;
}

@media (max-width: 1300px) {
	.call-to-action-banner {
		font-size: 1.1em;
	}

	.call-to-action-banner .btn {
		font-size: 1em;
		padding:2px 6px 4px;
	}

	.homepage_image_text h3 {
		font-size: 1.4em;
		line-height: 1.8em;
	}

	.homepage_image_text a.btn {
		font-size: 1.1em;
		line-height: 1.5em;
	}
}

@media (max-width: 1100px) {
	.call-to-action-banner {
		font-size: 1em;
	}

	.call-to-action-banner .btn {
		font-size: .9em;
		padding:3px 6px 5px;
	}

	.homepage_image_text h3 {
		font-size: 1.3em;
		line-height: 1.7em;
	}

	.homepage_image_text a.btn {
		font-size: 1em;
		line-height: 1.4em;
	}
}

@media (max-width: 992px) { 

	.call-to-action-banner {
		font-size: 1em;
	}

	.call-to-action-banner .btn {
		font-size: .9em;
		padding: 3px 6px 5px;
	}

	.homepage_image_text h3 {
		font-size: 1.2em;
		line-height: 1.5em;
	}

	.homepage_image_text a.btn {
		font-size: .9em;
		line-height: 1.5em;
	}
}

@media (max-width: 767px) {

	.call-to-action-banner .btn {
		font-size: 1em;
		padding: 3px 6px 5px;
	}

	.homepage_image .homepage_image_text {
		margin: 0 20%;
	}

	.homepage_image_text h3 {
	}

	.homepage_image_text a.btn {
		font-size: 1em;
		line-height: 1.2em;
		margin: 0 auto 10px;
	}
}

@media (max-width: 618px) {
	.homepage_image .homepage_image_text {
		width: 300px;
	}
}

@media (max-width: 480px){
	.homepage_image .homepage_image_text {
		width: 260px;
		margin: 0 0 0 10%;
		font-size: .8em;
	}
/*	.call-to-action-banner {
		font-size: .8em;
	}
*/}

/*@media (max-width: 368px) {
	.homepage_image_text h3 {
		font-size: .6em;
		line-height: 1.1em;
	}
	.homepage_image_text a.btn {
		font-size: .9em;
		line-height: 1.6em;
		margin: 0 auto 5px;
		padding: 5px 5px;
	}

	.call-to-action-banner {
		font-size: .7em;
		line-height: 2.4em;
	}

	.call-to-action-banner .btn {
		font-size: 1em;
		padding: 3px 6px 5px;
	}
}*/

.circular {
	width: 12em;
	height: 12em;
	border-radius: 7.5em;
	-webkit-border-radius: 7.5em;
	-moz-border-radius: 7.5em;
}

#google_map {
	width: 60%;
	min-height: 30vw;
	display: block;
	margin: -20px auto 20px;
}

@media (max-width:480px){
	#google_map {
		width: 100%;
		min-height: 50px;
	}
}

.homepage_content .theme-text a {
	color: #ffffff;
	font-family:'Libre Baskerville', Georgia, serif;
	text-align: center;
}

.homepage_content h3, .homepage_content h4, .homepage_content h5 {
	font-family:'Libre Baskerville', Georgia, serif;
	text-align: center;
}

.homepage_content h3, .homepage_content h4 {
	color: #fff;
}

.homepage_content .theme-text {
	font-family:'Libre Baskerville', Georgia, serif;
}

.homepage_content h3, .homepage_content h4, .homepage_content h5 {
	font-family:'Libre Baskerville', Georgia, serif;
	text-align: center;
}

.homepage_content a {
	text-decoration: none;
}

.homepage_content.theme-text h3 {
	margin: 25px 0 0;
	font-size: 2em;
	line-height: 1.2em;	
}

.homepage_content.theme-text h4 {
	font-size: 1.6em;
	line-height: 1.2em;
	color: #cccccc;
}

.homepage_content.theme-text h5 {
	font-size: 1.6em;
	line-height: 1.6em;	
	margin: 10px auto 0;
	color: #fefefe	;
	font-weight: bold;
}

.homepage_content.theme-text p {
	font-size: 1.1em;
	line-height: 1.5em;
	letter-spacing: 1.1px;
	text-align: center;
}

@media (max-width: 1100px) {

	.homepage_content.theme-text h3 {
		font-size: 1.7em;
		line-height: 1.4em;	
	}

	.homepage_content.theme-text h4 {
		font-size: 1.4em;
		line-height: 1.2em;	
	}

	.homepage_content.theme-text h5 {
		font-size: 1.6em;
		line-height: 1.3em;	
	}

	.homepage_content.theme-text p {
		font-size: 1em;
		line-height: 1.2em;
		letter-spacing: 1px;
	}
}

@media (max-width: 900px) {

	.homepage_content.theme-text h3 {
		font-size: 1.5em;
		line-height: 1.4em;	
	}

	.homepage_content.theme-text h4 {
		font-size: 1.3em;
		line-height: 1.4em;	
	}

	.homepage_content.theme-text h5 {
		font-size: 1.5em;
		line-height: 1.4em;	
	}

	.homepage_content.theme-text p {
		font-size: 1em;
		line-height: 1.5em;
		letter-spacing: .8px;
	}
}

@media (max-width: 767px) {
	.homepage_content.theme-text h3 {
		font-size: 1.25em;
		line-height: 1.5em;	
	}

	.homepage_content.theme-text h4 {
		font-size: 1em;
		line-height: 1.2em;	
	}

	.homepage_content.theme-text h5 {
		font-size: 1.3em;
		line-height: 1.5em;	
	}

	.homepage_content.theme-text p {
		font-size: .9em;
		line-height: 1.5em;
		letter-spacing: .7px;
		text-align: center;
	}
}

@media (max-width: 618px) {
	.homepage_content.theme-text h3 {
		font-size: .9em;
		line-height: 1.5em;	
	}

	.homepage_content.theme-text h4 {
		font-size: .8em;
		line-height: 1.2em;	
	}

	.homepage_content.theme-text h5 {
		font-size: 1.3em;
		line-height: 1.5em;	
	}

	.homepage_content.theme-text p {
		font-size: .8em;
		line-height: 1.5em;
		letter-spacing: .75px;
		text-align: center;
	}
}

@media (max-width: 300px) {
	.homepage_content.theme-text h3 {
		font-size: .7em;
		line-height: 1.6em;	
	}

	.homepage_content.theme-text h4 {
		font-size: .7em;
		line-height: 1.8em;	
	}

	.homepage_content.theme-text h5 {
		font-size: .9em;
		line-height: 1.5em;	
	}

	.homepage_content.theme-text p {
		font-size: .65em;
		line-height: 1.2em;
		letter-spacing: .75px;
		text-align: center;
	}
}

.homepage_column_wrapper {
	padding-bottom: 20px;
}

.homepage_column_wrapper a img {
	display:block;
    margin:0 auto;
    width: 70%;
    max-width: 320px;
    max-height: 174px;
}

.homepage_column_wrapper a {
	text-align: center;
}

#footer {
	padding: 0px 0;
	background: url('../images/para_diag.jpg') top center repeat;
}

.custom-footer {
	padding: 0;
}

.custom-footer .custom-logo img {
	max-height: 50px;
	margin: 20px auto 0;
	display: block;
}

.custom-footer .copyright p {
	padding: 15px 0 0 0;
	font-size: 1em;
	line-height: 1em;	
	text-align: center;
}

.custom-footer .sitemap p {
	padding: 0;
	text-decoration: none;
	font-size: 1em;
	line-height: 1em;	
	text-align: center;
}

.connect, .sitemap {
	text-align: center;
}

.connect p {
	font-size:.9em;
	letter-spacing: .1em;
	line-height: 1.7em;
}

.custom-footer a:hover, .custom-footer a:active {
	color: #333344;
	background: #f5f5f5;
}

.custom-footer .sitemap a, .custom-footer .copyright a {
	padding: 6px 0;
	display: block;
}

.custom-footer .copyright a {
	margin-top: 10px;
	text-decoration: none;
	font-size: 1em;
	line-height: 1em;	
	text-align: center;
}

.custom-footer h4 {
	color: #000;
	text-decoration: none;
	font-family:'Libre Baskerville', Georgia, serif;
	font-size: 1.2em;
	line-height: 1.2em;	
	text-align: center;	
	letter-spacing: .1em;
	margin: 20px 0 10px;
}

.left_sidebar {
	text-align: center;
	background: url('../images/para_diag.jpg');
	padding: 10px 0 20px;
	margin: 20px 0;
	border-radius: 10px;
	min-height: 100%;
	box-shadow: 3px 3px 10px #888;
}

.left_sidebar button {
	margin: 0 auto 0;
	text-align: center;
}

.left_sidebar .sidebar_menu li a {
	padding: 5px 0 5px 20px;
	display:block;
}

.left_sidebar .sidebar_menu li ul li a {
	padding-left: 40px;
}

.left_sidebar ul li ul {
	text-align:left;
	font-size:.9em;
}

.left_sidebar ul li ul li a {
	padding:3px 10px;
	display: block;
}

.horizontal_ul {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.horizontal_ul li {
	display: table-cell;
}

.horizontal_ul a {
	display: block;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.right_sidebar ul li a:hover, .right_sidebar ul li a:active {
	color: #297acc;
	background: #f5f5f5;
}

blockquote {
	font-style: italic;
}

.page_bottom {
	margin: 20px 0;
}

.tab-content h4 {
	margin: 10px 0 25px;
}

.page-text p {
	/*text-align: left;*/
}

@media (max-width:368px) {
	.page-text p, .page-text li {
		font-size: .9em;
		line-height: 1.5em;
		letter-spacing: .7px;
	}
	.page-text h3 {
		font-size: 1.2em;
		font-weight:bold;
		letter-spacing: 1.1px;
	}
	.panel-group h4, .tab-content h4 {
		font-size:1em;
		letter-spacing: .8px;
		font-weight:bold;
		margin: 0 0 10px;
		padding: 0;
	}
	.tab-pane {
	padding: 10px 0 0;
	}
	.panel-group img, .tab-content img {
		display:none;
	}
	.panel-group li, .tab-content li {
		list-style: initial;
	}
}

.panel-group a.btn {
	width: 100%;
	text-align: center;
	padding: 10px 0 8px;
}

.panel-group a.btn p {
	margin: 3px 0 4px;
	font-weight: bold;
}


.yelp_wrapper {
	text-align: left;
	margin: 20px auto;
}

.full_page_image .filer_image {
	width: 100%;
}

/* topbar element for viewport under 1000px and over 480px */

#topbar {
	display: block;
	margin: 0;
	padding: 20px;
	background: url('../images/para_diag.jpg') top center repeat;
	box-shadow: 3px 3px 8px #888;
}

#topbar ul li ul {
	display:none;
}

#topbar_contact {
	display: inline-block; 
	margin-right:20px;	
}

#topbar_fb {
	display: inline-block;
}

#___plusone_0 {
	position: relative; 
	top: -20px; 
	left: 57px;
}

#___plus_0 {
	position: relative;
	top: 5px;
}

@media (max-width: 480px){

	#topbar_contact {

	}

	#topbar_fb {
		top: -5px;
	}
}

@media (max-width: 350px){

	#topbar_contact {
		margin:0;
	}

	#topbar_fb {
		display:block;
		top: 10px;
	}
}

/*  navbar-custom-2.html*/

.custom-navbar-2 .custom-logo {
	float:left;
	margin-left: 5%
}

.custom-navbar-2 .social_links ul {
	position: absolute;
	right: 0;
	margin: 15px 5% 0 0;
}

.custom-navbar-2 .custom-logo img {
	margin-top:15px;
	height: 25px;
	width:auto;
}

@media (max-width:767px) {
	.custom-navbar-2 .custom-logo {
		float:left;
		margin-left: 0
	}

	.custom-navbar-2 .social_links ul {
		margin: 10px auto 0;
		position: initial;
	}

	.custom-navbar-2 .custom-logo img {
		margin-top:0px;
		height: 25px;
		width:auto;
	}
}

#phone {
	text-align: left; 
	font-weight: bold; 
	font-size:1.1em;
}

#call {
	display: none;
}

@media (max-width: 480px) {
	#call {
		display: block;
		width: 120px;
		margin: 10px auto 20px;
	}
	#phone {
		display: none;
	}
}

nav.custom-navbar-2 {
	width:100%; 
	text-align:center;
}

@media (min-width:768px){
	nav.navbar-collapse.custom-navbar-2 {
		display: inline-block!important;
	}
	.custom-navbar-2 .inline_ul li a {
		display: inline-block!important;
	}
}

.inline_ul {
	margin: 10px auto -1px; 
	display:inline-block
}

.custom-navbar-2 .inline_ul li a {
	padding: 10px 50px;
	display:block;
}

.inline_ul li {
	display:inline;
}

.custom-navbar-2 ul li a {
	font-weight: bold;
}

.custom-navbar-2 #signup_login > a {
	margin-right: 20px;
}

.custom-navbar-2 ul li a:link, .custom-navbar-2 ul li a:visited {
	color: #777!important;
}

.custom-navbar-2 ul li a:hover, .custom-navbar-2 ul li a:active {
	color: #333!important;
	background-color: #e6ecee;
	border-radius: 10px 10px 0 0;
}

