{% load static %}
{% load cms_tags %}

<div class='navbar_top'></div>
<header id="myNavbar">
  <div class="myContainer">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span style=''>Menu</span>
      </button>
      <div class='nav_top_row logo'>
        <a class='custom-logo' href="{% page_url 'home' %}"><img class='img-responsive' src="{% static logo_file_name %}" alt='{{company_name'></a>
      </div>
      <div class='nav_top_row login'>
        <a class='btn green' href='{% url "profiles_profile_detail" %}'>My Account</a>
        {% comment %}
        <a class='btn green white last' href='{% page_url "contact" %}'>Contact</a>
        {% endcomment %}
      </div>
      <div class='nav_top_row social_nav'>
        {% include 'misc_pages/social_links.html' %}
      </div>
    </div>
  </div>
  <div class='myContainer navbar_link_container'>
    <nav class="navbar-collapse collapse" id="navbar_links">
      <ul class="nav navbar-nav">
        <li><a href="{% page_url navbar_link1_name %}"> {{ navbar_link1_text }} </a></li>
        <li><a href="{% page_url navbar_link2_name %}"> {{ navbar_link2_text }} </a></li>
        <li><a href="{% page_url navbar_link3_name %}"> {{ navbar_link3_text }} </a></li>
        <li><a href="{% page_url navbar_link4_name %}"> {{ navbar_link4_text }} </a></li>
      </ul>
    </nav>
  </div>
</header>