{% load cms_tags %}
{% load static %}

<div id='homepage_under_hero'>
	<div class='myContainer'>
		<div class='row' style='text-align: center;'>
			<h2>What's the only thing better than having your own pool in the back yard?</h2>
			<h4>Not having to do the pool chores.</h4>
			<p><b><em>Back-breaking</em></b> regular cleanings and maintenance, and <b><em>head-splitting</em></b> chemical calculations don't have to be a part of owning a pool.</p>
			<a class='btn green' href={% page_url 'pool_service' %}>Learn how we can help</a>
		</div>
	</div>
</div>