{% extends 'cms/base_sidebar_left.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load cms_tags %}

{% block page_content_block %}
{% static_placeholder 'main_image' %}
<br />
{% if coupon_form %}
<form role="form" method="post" style='width:80%; margin:0 auto;'>
{% csrf_token %}
{{ coupon_form|crispy }}
<button type="submit" name="specials" class="btn btn-primary">Get Special Offers Now</button>
</form>
{% else %}
<h4 style='text-align:center;'>Check your email, then give us a call!</h4>
<p style='text-align:center;'>For now, take a look at the rest of our <a href='{% page_url 'services' %}'>services</a>.</p>
{% endif %}
{% endblock page_content_block %}