{% extends 'cms/base.html' %}

{% load static %}
{% load cms_tags %}

{% block body_block %}
<div class='page_content'>
	<div class='myContainer'>
		<h1>Weekly Pool Cleaning Services</h1>
		<p>All of our weekly pool cleaning services are backed by complete guarantees. We always leave a notice of our visit so you know we were there. We offer two types of weekly service for you to choose from, with our basic service taking care of your pool's chemistry and our premium service covering all of your pool's maintenace needs:</p>
		<table style='width:100%; max-width: 600px; margin: 0 auto;'>
			<tr class='icon_row'>
				<td></td>
				<td class='icon_header'><img src='{% static 'images/most_popular_icon.png' %}'></td>
				<td></td>
			</tr>
			<tr class='th_row'>
				<th></th>
				<th>Premium</th>
				<th>Basic</th>
			</tr>
			<tr class='first'>
				<td>Vacuum and Brush walls</td>
				<td class='check'></td>
				<td></td>
			</tr>
			<tr>
				<td>Brush steps and tile line</td>
				<td class='check'></td>
				<td></td>
			</tr>
			<tr>
				<td>Net pool</td>
				<td class='check'></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Clean skimmer and basket</td>
				<td class='check'></td>
				<td></td>
			</tr>
			<tr>
				<td>Backwash filter</td>
				<td class='check'></td>
				<td></td>
			</tr>
			<tr>
				<td>Check equipment</td>
				<td class='check'></td>
				<td></td>
			</tr>
			<tr>
				<td>Clean pool sweep</td>
				<td class='check'></td>
				<td></td>
			</tr>
			<tr>
				<td>Test pool chemistry</td>
				<td class='check'></td>
				<td class='check'></td>
			</tr>
			<tr>
				<td>Balance pool chemistry</td>
				<td class='check'></td>
				<td class='check'></td>
			</tr>
			<tr>
				<td>All chemicals included</td>
				<td class='check'></td>
				<td class='check'></td>
			</tr>
		</table>
		<div class='page-bottom-contact'>
			<a class='btn green' href='{% page_url 'contact' %}'>Get in touch today</a>
		</div>
		<div style='margin:20px auto 0;'>
			<div id='yelpwidget'></div>
		</div>
	</div>
</div>
{% endblock body_block %}